a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

h3 {
  margin: 0;
  text-align: center;
}

.nav {
  margin: 0 20vw;
  display: flex;
  border: solid 2px gray;
  justify-content: space-between;
}

.navList {
  display: flex;
  list-style-type: none;
}

#navAdd {
  border-right: solid 1px gray;
  border-left: solid 1px gray;
}

.title {
  font-family: 'Noto Sans TC', sans-serif;
}

.title > h1 {
  margin: 0 10px;
  line-height: 44px;
}

.navList > li {
  padding: 0 15px;
}

input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

form,
.contactTitle {
  text-align: center;
}

#addBook {
  width: 13%;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px 50px;
}

.input {
  margin: 10px 50px;
}

input[type=button]:hover {
  background-color: #45a049;
}

.bookList,
.frame,
footer {
  margin: 50px 20vw;
  border: 2px solid gray;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.footer {
  padding: 5px;
  margin-bottom: 0;
}

.bookList {
  flex-direction: column-reverse;
}

.bookList:nth-child(even) {
  background: #f2f2f2;
}

.bookList:nth-child(odd) {
  background: #f2f2f2;
}

.book {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid gray;
}

.bookInfo {
  display: flex;
}

.bookInfo > h3 {
  text-transform: capitalize;
}

span {
  margin: 2px 5px 0 5px;
}

.delete {
  margin-left: 13em;
  width: 13%;
  background-color: #900;
  color: white;
  padding: 8px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#Contact-info {
  margin: 50px 20vw;
  border: 2px solid gray;
  border-radius: 3px;
}

#Contact-info > p {
  margin-left: 10px;
  font-family: 'Roboto', sans-serif;
}

.frame > h2 {
  text-align: center;
}

.contactTitle {
  font-family: 'Noto Sans TC', sans-serif;
}

#Contact-info > ul {
  font-family: 'Roboto', sans-serif;
}

#bookTitle {
  margin-bottom: 5px;
}

.footer > h3 {
  text-align: left;
}
